<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>常用的AES加解密.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>928E34DD1E4AC1F600878D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>928E34F61E4AC1F600878D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>928E35011E4AC1F600878D6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
